.sidebar,
.route1Right {
  display: inline-block;
  width: 45%;
}

.sidebar {
  border: 5px solid pink;
  vertical-align: top;
}

.route1Right {
  border: 5px solid green;
  vertical-align: top;
}

.route1bOutlet {
  border: 5px solid blue;
}
