<h1>Route 1c nested</h1>
<h2>2nd child of route1</h2>

<form>

  <button type="submit" {{action 'submitFired'}}>Shoot</button>

</form>

{{outlet}}


<div class="route1cOutlet">
  {{outlet "route1cOutlet"}}
</div>



