<h1>Route 1</h1>

<form>

  <button type="submit" {{action 'submitFired'}}>Shoot</button>

</form>

{{outlet}}


<div class="sidebar">
  {{outlet "sidebar"}}
</div>

<div class="route1Right">
  {{outlet "route1Right"}}
</div>
